
.lista-eventos {
    display: flex;
    flex-direction: column;

    .evento-partida {
        display: flex;

        .bloco-placeholder,
        .bloco-dados-evento {
            width: 48%;
        }
        .bloco-meio {
            width: 4%;
            background-color: #20272d;
        }

        .bloco-dados-evento {
            &.direito {
                text-align: right;
            }
        }
    }
}
