
<div class="lista-eventos">
    <div class="times-partida resultado">
        <div class="bloco-time esquerdo">
            <h3>BRANCO</h3>
            <h3>{{ jogo.golsBranco }}</h3>
        </div>
        <div class="bloco-meio">x</div>
        <div class="bloco-time direito">
            <h3>VERDE</h3>
            <h3>{{ jogo.golsVerde }}</h3>
        </div>
    </div>
    <div class="eventos-partida">
        <div class="eventos-esquerda">
            <div *ngFor="let evento of getEventosTimeBranco()" class="bloco-dados-evento">
                <span>
                    {{ evento.jogador }}
                </span>
                <img *ngIf="isGol(evento)" src="assets/img/football-ball.png" class="icone-tipo-evento" alt="Gol" title="Gol">
                <img *ngIf="isGolContra(evento)" src="assets/img/contra.png" class="icone-tipo-evento" alt="Gol contra" title="Gol contra">
            </div>
        </div>
        <div class="eventos-meio"></div>
        <div class="eventos-direita">
            <div *ngFor="let evento of getEventosTimeVerde()" class="bloco-dados-evento">
                <img *ngIf="isGol(evento)" src="assets/img/football-ball.png" class="icone-tipo-evento" alt="Gol" title="Gol">
                <img *ngIf="isGolContra(evento)" src="assets/img/contra.png" class="icone-tipo-evento" alt="Gol contra" title="Gol contra">
                <span>
                    {{ evento.jogador }}
                </span>
            </div>
        </div>
    </div>
</div>