
<div *ngIf="jogo.mensagem" class="text-center alert alert-dark" role="alert">
    <h6>{{ jogo.mensagem }}</h6>
</div>

<div *ngIf="jogo.eventos" class="lista-eventos">
    <div class="times-partida resultado">
        <div class="bloco-time esquerdo">
            <h3>BRANCO</h3>
            <h3>{{ jogo.golsBranco }}</h3>
        </div>
        <div class="bloco-meio">x</div>
        <div class="bloco-time direito">
            <h3>VERDE</h3>
            <h3>{{ jogo.golsVerde }}</h3>
        </div>
    </div>
    <div *ngIf="mostrarEscalacao" class="escalacao-partida">
        <div class="eventos-esquerda">
            <div *ngFor="let jogador of jogo.jogadores_branco" class="bloco-dados-evento">
                <span [title]="getNomeCompletoJogador(jogador)">
                    {{ getNomeJogador(jogador) }}
                </span>
            </div>
        </div>
        <div class="eventos-meio"></div>
        <div class="eventos-direita">
            <div *ngFor="let jogador of jogo.jogadores_verde" class="bloco-dados-evento">
                <span></span>
                <span [title]="getNomeCompletoJogador(jogador)">
                    {{ getNomeJogador(jogador) }}
                </span>
            </div>
        </div>
    </div>
    <div class="times-partida resultado text-center">
        <span class="bloco-time"></span>
        <h5 class="bloco-meio">GOLS</h5>
        <span class="bloco-time"></span>
    </div>
    <div class="eventos-partida">
        <div class="eventos-esquerda">
            <div *ngFor="let evento of getEventosTimeBranco()" class="bloco-dados-evento">
                <span [title]="getNomeCompletoJogador(evento.jogador)">
                    {{ getNomeJogador(evento.jogador) }}
                </span>
                <img *ngIf="isGol(evento)" src="assets/img/football-ball.png" class="icone-tipo-evento" alt="Gol" title="Gol">
                <img *ngIf="isGolContra(evento)" src="assets/img/contra.png" class="icone-tipo-evento" alt="Gol contra" title="Gol contra">
            </div>
        </div>
        <div class="eventos-meio"></div>
        <div class="eventos-direita">
            <div *ngFor="let evento of getEventosTimeVerde()" class="bloco-dados-evento">
                <img *ngIf="isGol(evento)" src="assets/img/football-ball.png" class="icone-tipo-evento" alt="Gol" title="Gol">
                <img *ngIf="isGolContra(evento)" src="assets/img/contra.png" class="icone-tipo-evento" alt="Gol contra" title="Gol contra">
                <span [title]="getNomeCompletoJogador(evento.jogador)">
                    {{ getNomeJogador(evento.jogador) }}
                </span>
            </div>
        </div>
    </div>
</div>